.bids-table {
  width: 100%;
  max-width: 600px;
  border-collapse: separate;
  border-spacing: 2px;
  margin: 20px auto;
  background-color: white;
}
.main-header {
  background-color: #2c3e50;
  color: white;
  padding: 7px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
.column-header {
  background-color: #95a5a6;
  color: white;
  padding: 4px;
  font-weight: 500;
  font-size: 0.85em;
  text-align: center;
}
.bids-table td {
  padding: 6px;
  background-color: #ecf0f1;
  text-align: center;
  font-size: 0.85em;
}

.bids-table tbody tr:hover td {
  background-color: #d5dbdb;
}
